div {
    div {
        div {
            h1 {
                font-weight: 800;
                margin-top: 2rem;
                padding-top: 2rem;
                margin-bottom: 2rem;
                color: #333;
            }

            div {
                div {
                    p {
                        font-weight: 800;
                    }
                }
            }
        }
    }
}

aside {
    div {
        p {
            @extend .separador;
            background-color: #333;
        }
    }
}



.separador {
    color: #ebebeb;
    text-align: center;
    align-items: center;
    font-size: 2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    font-weight: 700;
}